.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: "#FFFFFF";
}
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
}
.itemContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.itemContainer:first-child {
  position: absolute;
  right: 219px;
  top: 50px;
}
.admin {
  position: absolute;
  left: 16.42%;
  right: 59.7%;
  top: 29.31%;
  bottom: 25.86%;
}
.vector {
  position: absolute;
  left: 24.99%;
  right: 25%;
  top: 33.33%;
  bottom: 29.17%;
  color: #162427;
}
.itemContainer:last-child {
  position: absolute;
  right: 90px;
  top: 33px;
}
.title {
  position: absolute;
  width: 241px;
  height: 49px;
  left: 83px;
  top: 132px;
  color: #162427;
}
.productsTitle {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
}
