body {
  margin: 0;
  /* overflow: hidden; */
  padding: 0;
}

@font-face {
  font-family: "SatoshiVariable";
  src: local("SatoshiVariable"),
    url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: bold;
}
